### Make a class called Employee. The __init__() method for Employee should store its different attributes: name, number, address, salary, post, year of joining, education, and his year of experience.

In [1]:
class Employee:
    def __init__(self, name, number, address, salary, post, year_of_joining, education, years_of_experience):
        self.name = name
        self.number = number
        self.address = address
        self.salary = salary
        self.post = post
        self.year_of_joining = year_of_joining
        self.education = education
        self.years_of_experience = years_of_experience 

    def __str__(self):
        return (f"Employee Name : {self.name}\n"
                f"Employee ID : {self.number}\n"
                f"Employee Address : {self.address}\n"
                f"Employee Salary : {self.salary}\n"
                f"Employee Designation : {self.post}\n"
                f"Year of Joining : {self.year_of_joining}\n"
                f"Education : {self.education}\n"
                f"Years of Experience : {self.years_of_experience}\n")

emp1 = Employee(
    name = "Noreen",
    number = "E64526",
    address = "XYZ Street, Silicon",
    salary = "800000",
    post = "Lead Data Analyst",
    year_of_joining = "2018",
    education = "Bachelor's in Software Engineer",
    years_of_experience = 5)

print(emp1)

Employee Name : Noreen
Employee ID : E64526
Employee Address : XYZ Street, Silicon
Employee Salary : 800000
Employee Designation : Lead Data Analyst
Year of Joining : 2018
Education : Bachelor's in Software Engineer
Years of Experience : 5

### Make a method called describe_employee() that prints the detail Information about employee, a method update_ year_of_experience(), and a method called increase_salary() that do increamnet in it's salary.

In [2]:
class Employee:
    def __init__(self, name, number, address, salary, post, year_of_joining, education, years_of_experience):
        self.name = name
        self.number = number
        self.address = address
        self.salary = int(salary)
        self.post = post
        self.year_of_joining = year_of_joining
        self.education = education
        self.years_of_experience = years_of_experience

    def update_year_of_experience(self, additional_years):
        if additional_years >= 0:
            self.years_of_experience += additional_years

        else:
            print("Less than a year")

    def increase_salary(self, amount):
        if amount > 0:
            self.salary += amount

        else:
            print("No increment further")

    def __str__(self):
        return (f"Employee Name : {self.name}\n"
                f"Employee ID : {self.number}\n"
                f"Employee Address : {self.address}\n"
                f"Employee Salary : {self.salary}\n"
                f"Employee Designation : {self.post}\n"
                f"Year of Joining : {self.year_of_joining}\n"
                f"Education : {self.education}\n"
                f"Years of Experience : {self.years_of_experience}\n")
emp1 = Employee(
    name = "Noreen",
    number = "E64666",
    address = "abc Street, Silicon",
    salary = "800000",
    post = "Software Engineer",
    year_of_joining = "2016",
    education = "Bachelor's in Software Engineer",
    years_of_experience = 5)

emp1.update_year_of_experience(3)
print(f"\nUpdate Years of Experience: {emp1.years_of_experience}")

emp1.increase_salary(200000)
print(f"\nUpdated Salary: {emp1.salary}")

Update Years of Experience: 8

Updated Salary: 1000000

### Make an instance called employee101 from your class. Print the four attributes individually, and then call all it's methods for describing employee, ssalary increamnet and increase year of experience.

In [3]:
class Employee:
    def __init__(self, name, number, address, salary, post, year_of_joining, education, years_of_experience):
        self.name = name
        self.number = number
        self.address = address
        self.salary = int(salary)
        self.post = post
        self.year_of_joining = year_of_joining
        self.education = education
        self.years_of_experience = years_of_experience

    def describe_employee(self):
        print(f"Employee Name: {self.name}")
        print(f"Employee Number: {self.number}")
        print(f"Address: {self.address}")
        print(f"Salary: {self.salary}")
        print(f"Post: {self.post}")
        print(f"Year of Joining: {self.year_of_joining}")
        print(f"Education: {self.education}")
        print(f"Years of Experience: {self.years_of_experience}")

    def update_year_of_experience(self, additional_years):
        if additional_years >= 0:
            self.years_of_experience += additional_years

        else:
            print("Less than a year")

    def increase_salary(self, amount):
        if amount > 0:
            self.salary += amount

        else:
            print("No increment further")

    def __str__(self):
        return (f"Employee Name : {self.name}\n"
                f"Employee ID : {self.number}\n"
                f"Employee Address : {self.address}\n"
                f"Employee Salary : {self.salary}\n"
                f"Employee Designation : {self.post}\n"
                f"Year of Joining : {self.year_of_joining}\n"
                f"Education : {self.education}\n"
                f"Years of Experience : {self.years_of_experience}\n")
employee101 = Employee(
    name = "Nafisa",
    number = "E64666",
    address = "jkl Street, Silicon",
    salary = "300000",
    post = "Project Manager",
    year_of_joining = "2020",
    education = "Bachelor's in Business Administration",
    years_of_experience = 4)

print(f"Name : {employee101.name}")
print(f"Number : {employee101.number}")
print(f"Address : {employee101.address}")
print(f"Salary : {employee101.salary}")

print("\nEmployee Details:")
employee101.describe_employee()

print(r"Increase Salary by 50000")
employee101.increase_salary(50000)
print(f"\nUpdated Slary: {employee101.salary}")

print(r"Updating Years of Experience by 2 years")
employee101.update_year_of_experience(2)
print(f"Update Years of Experience: {employee101.years_of_experience}")

Name : Nafisa
Number : E64666
Address : jkl Street, Silicon
Salary : 300000

Employee Details:
Employee Name: Nafisa
Employee Number: E64666
Address: jkl Street, Silicon
Salary: 300000
Post: Project Manager
Year of Joining: 2020
Education: Bachelor's in Business Administration
Years of Experience: 4
Increase Salary by 50000

Updated Slary: 350000
Updating Years of Experience by 2 years
Update Years of Experience: 6

### Create 10 different instances from the class, and call describe_employee() for each instance. Then do some updations with it's methods.

In [4]:
class Employee:
    def __init__(self, name, number, address, salary, post, year_of_joining, education, years_of_experience):
        self.name = name
        self.number = number
        self.address = address
        self.salary = int(salary)
        self.post = post
        self.year_of_joining = year_of_joining
        self.education = education
        self.years_of_experience = years_of_experience

    def describe_employee(self):
        print(f"Employee Name: {self.name}")
        print(f"Employee Number: {self.number}")
        print(f"Address: {self.address}")
        print(f"Salary: {self.salary}")
        print(f"Post: {self.post}")
        print(f"Year of Joining: {self.year_of_joining}")
        print(f"Education: {self.education}")
        print(f"Years of Experience: {self.years_of_experience}")
        print("-" * 40)

    def update_year_of_experience(self, additional_years):
        if additional_years >= 0:
            self.years_of_experience += additional_years

        else:
            print("Less than a year")

    def increase_salary(self, amount):
        if amount > 0:
            self.salary += amount

        else:
            print("No increment further")

    def __str__(self):
        return (f"Employee Name : {self.name}\n"
                f"Employee ID : {self.number}\n"
                f"Employee Address : {self.address}\n"
                f"Employee Salary : {self.salary}\n"
                f"Employee Designation : {self.post}\n"
                f"Year of Joining : {self.year_of_joining}\n"
                f"Education : {self.education}\n"
                f"Years of Experience : {self.years_of_experience}\n")
employees = [
    Employee("Meenal", "E61201", "125 Street, Karachi", 300000, "Project Manager", "2018", "Bachelor's in Business Administration", 6),
    Employee("Mariyam", "E66584", "554 Street, Lahore", 250000, "SQA Engineer", "2019", "Bachelor's in Software Engineer", 5),
    Employee("Areeba", "E67598", "J15 Street, Islamabad", 100000, "Data Scientist", "2021", "Bachelor's in Data Science", 3),
    Employee("Ali", "E66395", "T12 Street, Quetta", 200000, "Human Resource Manager", "2019", "Master's in Business Administration", 5),
    Employee("Anwar", "E69860", "784 Street, Skardu", 350000, "System Enginner", "2014", "Bachelor's in Computer Engineer", 10),
    Employee("Yummna", "E64784", "777 Street, Karachi", 70000, "Software Engineer", "2023", "Bachelor's in Software Engineer", 1),
    Employee("Amber", "E68759", "632 Street, Lahore", 80000, "SQA Engineer", "2023", "Bachelor's in Computer Science", 1),
    Employee("Saliha", "E69863", "524 Street, Islamabad", 95000, "Product Manager", "2023", "Bachelor's in Business Administration", 1),
    Employee("Sana", "E63621", "412 Street, Hyderabad", 301000, "Finance Manager", "2015", "Bachelor's in Business Administration", 9),
    Employee("Hina", "E67645", "986 Street, Karimabad", 201000, "Operation", "2014", "Bachelor's in Business Administration", 10)
    
]

for emp in employees:
    emp.describe_employee()

print("Updating and Increasing Salaries:\n")
for emp in employees:
    emp.increase_salary(5000)
    emp.update_year_of_experience(1)

print("Update Employee Information:\n")
for emp in employees:
    emp.describe_employee()

Employee Name: Meenal
Employee Number: E61201
Address: 125 Street, Karachi
Salary: 300000
Post: Project Manager
Year of Joining: 2018
Education: Bachelor's in Business Administration
Years of Experience: 6
----------------------------------------
Employee Name: Mariyam
Employee Number: E66584
Address: 554 Street, Lahore
Salary: 250000
Post: SQA Engineer
Year of Joining: 2019
Education: Bachelor's in Software Engineer
Years of Experience: 5
----------------------------------------
Employee Name: Areeba
Employee Number: E67598
Address: J15 Street, Islamabad
Salary: 100000
Post: Data Scientist
Year of Joining: 2021
Education: Bachelor's in Data Science
Years of Experience: 3
----------------------------------------
Employee Name: Ali
Employee Number: E66395
Address: T12 Street, Quetta
Salary: 200000
Post: Human Resource Manager
Year of Joining: 2019
Education: Master's in Business Administration
Years of Experience: 5
----------------------------------------
Employee Name: Anwar
Employee Number: E69860
Address: 784 Street, Skardu
Salary: 350000
Post: System Enginner
Year of Joining: 2014
Education: Bachelor's in Computer Engineer
Years of Experience: 10
----------------------------------------
Employee Name: Yummna
Employee Number: E64784
Address: 777 Street, Karachi
Salary: 70000
Post: Software Engineer
Year of Joining: 2023
Education: Bachelor's in Software Engineer
Years of Experience: 1
----------------------------------------
Employee Name: Amber
Employee Number: E68759
Address: 632 Street, Lahore
Salary: 80000
Post: SQA Engineer
Year of Joining: 2023
Education: Bachelor's in Computer Science
Years of Experience: 1
----------------------------------------
Employee Name: Saliha
Employee Number: E69863
Address: 524 Street, Islamabad
Salary: 95000
Post: Product Manager
Year of Joining: 2023
Education: Bachelor's in Business Administration
Years of Experience: 1
----------------------------------------
Employee Name: Sana
Employee Number: E63621
Address: 412 Street, Hyderabad
Salary: 301000
Post: Finance Manager
Year of Joining: 2015
Education: Bachelor's in Business Administration
Years of Experience: 9
----------------------------------------
Employee Name: Hina
Employee Number: E67645
Address: 986 Street, Karimabad
Salary: 201000
Post: Operation
Year of Joining: 2014
Education: Bachelor's in Business Administration
Years of Experience: 10
----------------------------------------
Updating and Increasing Salaries:

Update Employee Information:

Employee Name: Meenal
Employee Number: E61201
Address: 125 Street, Karachi
Salary: 305000
Post: Project Manager
Year of Joining: 2018
Education: Bachelor's in Business Administration
Years of Experience: 7
----------------------------------------
Employee Name: Mariyam
Employee Number: E66584
Address: 554 Street, Lahore
Salary: 255000
Post: SQA Engineer
Year of Joining: 2019
Education: Bachelor's in Software Engineer
Years of Experience: 6
----------------------------------------
Employee Name: Areeba
Employee Number: E67598
Address: J15 Street, Islamabad
Salary: 105000
Post: Data Scientist
Year of Joining: 2021
Education: Bachelor's in Data Science
Years of Experience: 4
----------------------------------------
Employee Name: Ali
Employee Number: E66395
Address: T12 Street, Quetta
Salary: 205000
Post: Human Resource Manager
Year of Joining: 2019
Education: Master's in Business Administration
Years of Experience: 6
----------------------------------------
Employee Name: Anwar
Employee Number: E69860
Address: 784 Street, Skardu
Salary: 355000
Post: System Enginner
Year of Joining: 2014
Education: Bachelor's in Computer Engineer
Years of Experience: 11
----------------------------------------
Employee Name: Yummna
Employee Number: E64784
Address: 777 Street, Karachi
Salary: 75000
Post: Software Engineer
Year of Joining: 2023
Education: Bachelor's in Software Engineer
Years of Experience: 2
----------------------------------------
Employee Name: Amber
Employee Number: E68759
Address: 632 Street, Lahore
Salary: 85000
Post: SQA Engineer
Year of Joining: 2023
Education: Bachelor's in Computer Science
Years of Experience: 2
----------------------------------------
Employee Name: Saliha
Employee Number: E69863
Address: 524 Street, Islamabad
Salary: 100000
Post: Product Manager
Year of Joining: 2023
Education: Bachelor's in Business Administration
Years of Experience: 2
----------------------------------------
Employee Name: Sana
Employee Number: E63621
Address: 412 Street, Hyderabad
Salary: 306000
Post: Finance Manager
Year of Joining: 2015
Education: Bachelor's in Business Administration
Years of Experience: 10
----------------------------------------
Employee Name: Hina
Employee Number: E67645
Address: 986 Street, Karimabad
Salary: 206000
Post: Operation
Year of Joining: 2014
Education: Bachelor's in Business Administration
Years of Experience: 11
----------------------------------------

### Finally complete the same task without using the Classes or OOP.

In [5]:
#Define Functions
def describe_employee(employee):
    """Prints detailed information about the employee."""
    print(f"Employee Name: {employee['name']}")
    print(f"Employee Number: {employee['number']}")
    print(f"Address: {employee['address']}")
    print(f"Salary: {employee['salary']}")
    print(f"Post: {employee['post']}")
    print(f"Year of Joining: {employee['year_of_joining']}")
    print(f"Education: {employee['education']}")
    print(f"Years of Experience: {employee['years_of_experience']}")
    print("-" * 40)

def update_year_of_experience(employee, additional_years):
    """Updates the years of experience of the employee."""
    if additional_years >= 0:
        employee['years_of_experience'] += additional_years
    else:
        print("Additional years cannot be negative.")

def increase_salary(employee, amount):
    """Increases the salary of the employee by the specified amount."""
    if amount > 0:
        employee['salary'] += amount
    else:
        print("Increment amount must be positive.")

In [6]:
#Create Employee Data
# Create 10 employee records
employees = [
    {
        'name': "Meenal",
        'number': "E611",
        'address': "125 Street, Karachi",
        'salary': 300000,
        'post': "Project Manager",
        'year_of_joining': 2018,
        'education': "Bachelor's in Business Administration",
        'years_of_experience': 6
    },
    {
        'name': "Mariyam",
        'number': "E102",
        'address': "554 Street, Lahore",
        'salary': 95000,
        'post': "Software Engineer",
        'year_of_joining': 2019,
        'education': "MSc Computer Science",
        'years_of_experience': 5
    },
    {
        'name': "Areeba",
        'number': "E103",
        'address': "T12 Street, Quetta",
        'salary': 72000,
        'post': "Data Analyst",
        'year_of_joining': 2017,
        'education': "BSc Statistics",
        'years_of_experience': 7
    },
    {
        'name': "Ali",
        'number': "E104",
        'address': "T632 Street, Skardu",
        'salary': 85000,
        'post': "Marketing Specialist",
        'year_of_joining': 2020,
        'education': "BA Marketing",
        'years_of_experience': 4
    },
    {
        'name': "Yummna",
        'number': "E105",
        'address': "777 Street, Karachi",
        'salary': 78000,
        'post': "HR Coordinator",
        'year_of_joining': 2018,
        'education': "MA Human Resources",
        'years_of_experience': 6
    },
    {
        'name': "Amber",
        'number': "E106",
        'address': "752 Street, Lahore",
        'salary': 90000,
        'post': "Financial Analyst",
        'year_of_joining': 2016,
        'education': "MSc Finance",
        'years_of_experience': 8
    },
    {
        'name': "Saliha",
        'number': "E107",
        'address': "632 Street, Lahore",
        'salary': 62000,
        'post': "Administrative Assistant",
        'year_of_joining': 2021,
        'education': "BBA",
        'years_of_experience': 3
    },
    {
        'name': "Sana",
        'number': "E108",
        'address': "858 Street, Islamabad",
        'salary': 93000,
        'post': "Product Manager",
        'year_of_joining': 2017,
        'education': "MBA",
        'years_of_experience': 7
    },
    {
        'name': "Maria",
        'number': "E109",
        'address': "412 Street, Hyderabad",
        'salary': 71000,
        'post': "Content Writer",
        'year_of_joining': 2019,
        'education': "BA English",
        'years_of_experience': 5
    },
    {
        'name': "Hina",
        'number': "E110",
        'address': "986 Street, Karimabad",
        'salary': 77000,
        'post': "Sales Executive",
        'year_of_joining': 2022,
        'education': "BSc Marketing",
        'years_of_experience': 2
    }
]

In [7]:
# Print employee details for each instance
print("Employee Details:\n")
for employee in employees:
    describe_employee(employee)

# Perform updates
print("Updating and Increasing Salaries:\n")
for employee in employees:
    increase_salary(employee, 5000)  # Increase salary 
    update_year_of_experience(employee, 1)  # Add experience

# Print updated information
print("Updated Employee Information:\n")
for employee in employees:
    describe_employee(employee)

Employee Details:

Employee Name: Meenal
Employee Number: E611
Address: 125 Street, Karachi
Salary: 300000
Post: Project Manager
Year of Joining: 2018
Education: Bachelor's in Business Administration
Years of Experience: 6
----------------------------------------
Employee Name: Mariyam
Employee Number: E102
Address: 554 Street, Lahore
Salary: 95000
Post: Software Engineer
Year of Joining: 2019
Education: MSc Computer Science
Years of Experience: 5
----------------------------------------
Employee Name: Areeba
Employee Number: E103
Address: T12 Street, Quetta
Salary: 72000
Post: Data Analyst
Year of Joining: 2017
Education: BSc Statistics
Years of Experience: 7
----------------------------------------
Employee Name: Ali
Employee Number: E104
Address: T632 Street, Skardu
Salary: 85000
Post: Marketing Specialist
Year of Joining: 2020
Education: BA Marketing
Years of Experience: 4
----------------------------------------
Employee Name: Yummna
Employee Number: E105
Address: 777 Street, Karachi
Salary: 78000
Post: HR Coordinator
Year of Joining: 2018
Education: MA Human Resources
Years of Experience: 6
----------------------------------------
Employee Name: Amber
Employee Number: E106
Address: 752 Street, Lahore
Salary: 90000
Post: Financial Analyst
Year of Joining: 2016
Education: MSc Finance
Years of Experience: 8
----------------------------------------
Employee Name: Saliha
Employee Number: E107
Address: 632 Street, Lahore
Salary: 62000
Post: Administrative Assistant
Year of Joining: 2021
Education: BBA
Years of Experience: 3
----------------------------------------
Employee Name: Sana
Employee Number: E108
Address: 858 Street, Islamabad
Salary: 93000
Post: Product Manager
Year of Joining: 2017
Education: MBA
Years of Experience: 7
----------------------------------------
Employee Name: Maria
Employee Number: E109
Address: 412 Street, Hyderabad
Salary: 71000
Post: Content Writer
Year of Joining: 2019
Education: BA English
Years of Experience: 5
----------------------------------------
Employee Name: Hina
Employee Number: E110
Address: 986 Street, Karimabad
Salary: 77000
Post: Sales Executive
Year of Joining: 2022
Education: BSc Marketing
Years of Experience: 2
----------------------------------------
Updating and Increasing Salaries:

Updated Employee Information:

Employee Name: Meenal
Employee Number: E611
Address: 125 Street, Karachi
Salary: 305000
Post: Project Manager
Year of Joining: 2018
Education: Bachelor's in Business Administration
Years of Experience: 7
----------------------------------------
Employee Name: Mariyam
Employee Number: E102
Address: 554 Street, Lahore
Salary: 100000
Post: Software Engineer
Year of Joining: 2019
Education: MSc Computer Science
Years of Experience: 6
----------------------------------------
Employee Name: Areeba
Employee Number: E103
Address: T12 Street, Quetta
Salary: 77000
Post: Data Analyst
Year of Joining: 2017
Education: BSc Statistics
Years of Experience: 8
----------------------------------------
Employee Name: Ali
Employee Number: E104
Address: T632 Street, Skardu
Salary: 90000
Post: Marketing Specialist
Year of Joining: 2020
Education: BA Marketing
Years of Experience: 5
----------------------------------------
Employee Name: Yummna
Employee Number: E105
Address: 777 Street, Karachi
Salary: 83000
Post: HR Coordinator
Year of Joining: 2018
Education: MA Human Resources
Years of Experience: 7
----------------------------------------
Employee Name: Amber
Employee Number: E106
Address: 752 Street, Lahore
Salary: 95000
Post: Financial Analyst
Year of Joining: 2016
Education: MSc Finance
Years of Experience: 9
----------------------------------------
Employee Name: Saliha
Employee Number: E107
Address: 632 Street, Lahore
Salary: 67000
Post: Administrative Assistant
Year of Joining: 2021
Education: BBA
Years of Experience: 4
----------------------------------------
Employee Name: Sana
Employee Number: E108
Address: 858 Street, Islamabad
Salary: 98000
Post: Product Manager
Year of Joining: 2017
Education: MBA
Years of Experience: 8
----------------------------------------
Employee Name: Maria
Employee Number: E109
Address: 412 Street, Hyderabad
Salary: 76000
Post: Content Writer
Year of Joining: 2019
Education: BA English
Years of Experience: 6
----------------------------------------
Employee Name: Hina
Employee Number: E110
Address: 986 Street, Karimabad
Salary: 82000
Post: Sales Executive
Year of Joining: 2022
Education: BSc Marketing
Years of Experience: 3
----------------------------------------